/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body {
  background-color: #ccd5ae;
  display: flex;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 3rem 0;
}

.add {
  background-color: #d4a373;
  color: white;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  position: fixed;
  top: 1rem;
  right: 1rem;
}

.add:hover {
  background-color: #9c6644;
}

.note {
  background-color: #fefae0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 2rem;;
  height: 400px;
  width: 400px;
}

.note .tools {
  background-color: #d4a373;
  padding: 0.5rem;
  display: flex;
  justify-content: flex-end;
}

.note .tools button {
  background-color: transparent;
  color: #fefae0;
  border: none;
  font-size: 1rem;
  margin-left: 0.5rem;
  cursor: pointer;
}

.note .main {
  background-color: #fefae0;
  overflow: hidden;
  width: 100%;
  height: 400px;
}

.note textarea {
  outline: none;
  font-family: inherit;
  width: 100%;
  height: 100%;
  border:none;
  background-color: #fefae0;
  resize: none;
  font-size: 1.3rem;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.hidden {
  display: none;
}